<div class="container mt-4">
  <div class="form-produit shadow-lg">
    <div class="titre shadow-lg mt-4" class="style">
      Ajouter un nouvelle produit
  </div>
  <mat-card>

      <div class="container">
          <form [formGroup]="formation" class="pb-2" (ngSubmit)="ajouteFormation(formation.value)" autocomplete="on">

                <div class="form-group row st">


                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width">
                      <mat-label>Titre Formation :</mat-label>
                      <input matInput  id="titreFormation"  name="titreFormation"
                   placeholder="titre de formation"
                     formControlName="titreFormation">
                      <div *ngIf="titreFormation.touched
                       && titreFormation.invalid"
                      class="text-danger pull-right">
                      <div *ngIf="titreFormation.errors.required" >champ designation est obligatoire</div>

                      <div *ngIf="titreFormation.errors.minlength" > Il faut écrire au moins 4 caractére</div>
                     </div>
                    </mat-form-field>
                    </div>
              </div>
              <div class="col-sm-10">
                <mat-form-field class="example-full-width">
                  <mat-label>Descreption Formation :</mat-label>
                  <input matInput  id="titreFormation"  name="titreFormation"
               placeholder="Designation de produit"
                 formControlName="description">
                  <div *ngIf="description.touched
                   && description.invalid"
                  class="text-danger pull-right">
                  <div *ngIf="description.errors.required" >champ designation est obligatoire</div>

                  <div *ngIf="description.errors.minlength" > Il faut écrire au moins 4 caractére</div>
                 </div>
                </mat-form-field>
                </div>

                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <mat-label>Prix Formation :</mat-label>
                    <input matInput  id="prix"  name="prix"
                 placeholder="prix de formation"
                   formControlName="prix">
                    <div *ngIf="prix.touched
                     && prix.invalid"
                    class="text-danger pull-right">
                    <div *ngIf="prix.errors.required" >champ designation est obligatoire</div>

                    <div *ngIf="prix.errors.minlength" > Il faut écrire au moins 4 caractére</div>
                   </div>
                  </mat-form-field>
                  </div>

                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width">
                      <mat-label>Date Début Formation :</mat-label>
                      <input matInput  [matDatepicker]="picker" id="date_debut"    name="dateDebut"

                     formControlName="dateDebut">
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <div *ngIf="dateDebut.touched
                       && dateDebut.invalid"
                      class="text-danger pull-right">
                      <div *ngIf="dateDebut.errors.required" >la date est obligatoire</div>
                     </div>
                    </mat-form-field>
                    </div>

                    <div class="col-sm-10">
                      <mat-form-field class="example-full-width">
                        <mat-label>Date Fin Formation :</mat-label>
                        <input matInput  [matDatepicker]="picker1" id="date_fin"    name="dateFin"

                       formControlName="dateFin">
                       <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <div *ngIf="dateFin.touched
                         && dateFin.invalid"
                        class="text-danger pull-right">
                        <div *ngIf="dateDebut.errors.required" >la date est obligatoire</div>


                       </div>
                      </mat-form-field>
                      </div>




                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label"> </label>
                  <div class="col-sm-10">
                        <button type="submit" [disabled]="formation.invalid" class="bt btn-dark">Enregistrer Formation</button>&nbsp;&nbsp;

                         <a href="ajoute-formations" class="bt btn-link btn-lg active" aria-pressed="true" (click)="resetForm();">Clear</a>

                    </div> </div>





          </form>
      </div>
  </mat-card>
  </div>
</div>
